<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{>layout/category/category_header}}
<hr>

{{#starAndOrderCntList}}
    <a href="/user/store/detail/{{categoryKo}}/{{store_idx}}">
        <ul>
            <li>가게 이미지 : {{store_detail_info_img}}</li>
            <li>가게 이름:{{store_name}}</li>
            <li>
                별점 :
                {{#starAvg}}
                    {{starAvg}}
                {{/starAvg}}
                {{^starAvg}}
                    0
                {{/starAvg}}
            </li>
            <li>최소 주문 : {{store_detail_minimum_price}}</li>
            <li>배달팁 : {{store_detail_deliver_price}}</li>
        </ul>
    </a>
{{/starAndOrderCntList}}
<hr>
</body>
</html>