<div>
    <a href="/user/category/click/돈가스|회|일식/JAPANESEFOOD"><span>돈가스|회|일식</span></a>
    <span><a href="/user/category/click/치킨/CHICKEN">치킨</a></span>
    <span><a href="/user/category/click/중국집/CHINESEFOOD">중국집</a></span>
</div>
<div>
    <span><a href="/user/category/click/분식/BUNSIK">분식</a></span>
    <span><a href="/user/category/click/피자/PIZZA">피자</a></span>
    <span><a href="/user/category/click/카페|디저트/DESSERT">카페|디저트</a></span>
</div>