<div style="text-align: center">
    <div>
        <a href="/user/category/click/돈가스|회|일식/JAPANESEFOOD"><span><img src="/staticImg/JAPANESEFOOD.png" style="width: 100px; height: 100px"></span></a>
        <span><a href="/user/category/click/치킨/CHICKEN"><img src="/staticImg/CHICKEN.png" style="width: 100px; height: 100px"></a></span>
        <span><a href="/user/category/click/중국집/CHINESEFOOD"><img src="/staticImg/CHINESEFOOD.png" style="width: 100px; height: 100px"></a></span>
    </div>
    <div>
        <span><a href="/user/category/click/분식/BUNSIK"><img src="/staticImg/BUNSIK.png" style="width: 100px; height: 100px"></a></span>
        <span><a href="/user/category/click/피자/PIZZA"><img src="/staticImg/PIZZA.png" style="width: 100px; height: 100px"></a></span>
        <span><a href="/user/category/click/카페|디저트/DESSERT"><img src="/staticImg/DESSERT.png" style="width: 100px; height: 100px"></a></span>
    </div>
</div>