<div id="banner_div" style="background-color: #989898; width: 100%; height: 200px" >

    <img src="#" id="banner_img" style="width:100%;height: 100%">
</div>
<script>
    document.getElementById('banner_img').src="https://i.esdrop.com/d/f/3IfGDhTdT6/Pec56UHmBN.jpg";
</script>