<div style="text-align: center">
    <div>
        <a href="/user/category/click/돈가스|회|일식/JAPANESEFOOD"><span><img src="/staticImg/JAPANESEFOOD.png" style="width: 100px; height: 100px"></span></a>
        <a href="/user/category/click/치킨/CHICKEN"><span><img src="/staticImg/CHICKEN.png" style="width: 100px; height: 100px"></span></a>
        <a href="/user/category/click/중국집/CHINESEFOOD"><span><img src="/staticImg/CHINESEFOOD.png" style="width: 100px; height: 100px"></span></a>
    </div>
    <div>
        <a href="/user/category/click/분식/BUNSIK"><span><img src="/staticImg/BUNSIK.png" style="width: 100px; height: 100px;"></span></a>
        <a href="/user/category/click/피자/PIZZA"><span><img src="/staticImg/PIZZA.png" style="width: 100px; height: 100px"></span></a>
        <a href="/user/category/click/카페|디저트/DESSERT"><span><img src="/staticImg/DESSERT.png" style="width: 100px; height: 100px"></span></a>
    </div>
</div>