<style>
    #basket{
        position:   fixed;
        right:      2rem;
        bottom:     -26em;
        width:      30rem;
        height:     32rem;
    }
</style>
<div id="basket" onclick="shopping_basket()">
    <button type="button" class="btn btn-primary position-relative">
        장바구니
        <span id="basket_cnt" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
</div>
<script>
    let shoppingList = JSON.parse(sessionStorage.getItem('item'));
    // console.log(shoppingList)

    if(shoppingList == null){
        let basket = document.getElementById('basket');
        basket.style.display = 'none';
    }
    //장바구니에 담긴 수량들 전부 더하기
    let basket_total_cnt = 0;
    shoppingList.forEach(list => {
        basket_total_cnt += list[6];
    })

    //장바구니에 담긴 총 수량 표시
    document.getElementById('basket_cnt').innerHTML = basket_total_cnt;

    //장바구니 페이지로 이동
    const shopping_basket = () => {
        window.location.href = '/user/shopping/list';
    }



</script>

