<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div><a href="/user/category/click/{{categoryKo}}/{{selectStore.store_category}}"><-</a></div>
    <div id="top">
        <ul>
            <li>{{selectStore.store_name}}</li>
            <li>{{selectStore.starSum}}</li>
            <li>최근 리뷰 {{selectStoreReview.commentCnt}} | 최근사장님댓글 {{selectStoreReview.replyCnt}}</li>
        </ul>
    </div>
    <hr>
    <div id="middle">
        <div>
            <span>배달 주문</span> | <span>포장/방문주문</span>
        </div>
        <ul id="deliveryOrder">
            <li>최소 주문 금액 : {{selectStore.store_detail_minimum_price}}</li>
            <li>결제 방법 : 바로 결제, 만나서 결제</li>
            <li>배달팁 : {{selectStore.store_detail_deliver_price}}</li>
        </ul>
        <ul id="visitOrder">
            <li>최소주문금액 : 없음</li>
            <li>이용 방법 : 매장, 포장</li>
            <li>
                위치 안내 : {{selectStore.store_basic_addr}} {{selectStore.store_detail_addr}}
                            지도 들어가야 함
            </li>
            <li>결제 방법 : 바로 결제</li>
        </ul>
    </div>
    <hr>
    <div id="under">
        <div>
            <span>메뉴</span> | <span>정보</span> | <span>리뷰</span>
        </div>
        <div id="menuTap">
            <div id="menuText">
                {{selectStore.store_detail_menu_text}}
            </div>
            <div id="menuList">

            </div>
        </div>

        <div id="infoTap">
            <div>
                {{selectStore.store_detail_info_text}}
            </div>
        </div>

        <div id="reviewTap">
            {{selectStore.store_detail_review_text}}
        </div>
    </div>
    <hr>
    <div>
        <h2>대표 메뉴</h2>
        {{#kingMenu}}
            <a href="/user/store/menu/detail/{{selectStore.store_detail_deliver_price}}/{{menu_name}}/{{menu_price}}">
                <ul>
                    <li>{{menu_name}}</li>
                    <li>{{menu_price}}</li>
                </ul>
            </a>
        {{/kingMenu}}
    </div>
</body>
</html>