<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<!--    <script src="/js/user_order_history.js?v=5" defer></script>-->

</head>
<body>
{{>layout/myPage/my_page_header}}
    <div><a href="/user/myPage"><-</a></div>
    <hr>
</body>
<script>
    window.onload = () => {

        let get_login = window.sessionStorage.getItem("memberData");
        let login = JSON.parse(get_login);
        let user_idx = login.memberData.userIdx;
        // console.log(user_idx);

        fetch(`/user/order/history/get/${user_idx}`)
            .then((response) => response.json())
            .then((datas) => {
                datas.data.forEach( (data, idx) => {
                    let order_date = new Date(data.order_date);

                    let historyList = '';
                    historyList = `<div class="card mb-3" style="max-width: 750px;">
                                      <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="/user/image/${data.store_detail_info_img}" class="img-fluid rounded-start" style="height: 12rem; width: 15rem">
                                        </div>
                                        <div class="col-md-8">
                                          <div class="card-body">
                                            <h5 class="card-title">${data.store_name}</h5>
                                            <p class="card-text"><small class="text-muted">*주문 날짜 : </small><span style="font-size: small">${order_date.toLocaleDateString()}</span></p>
                                            <p class="card-text">${data.order_price}원</p>
                                            <div>
                                                <button type="button" class="btn btn-outline-primary" onclick="reviewCreate(${data.store_idx}, ${data.trade_history_idx})" style="display: none" id="reviewCreate${idx}">리뷰 작성하기</button>
                                            </div>
                                          </div>
                                        </div>
                                     </div>
                                  </div>`
                    let div_historyList = document.createElement('div');
                    div_historyList.innerHTML = historyList;
                    document.body.appendChild(div_historyList);

                    fetch(`/user/review/state/${data.trade_history_idx}`)
                            .then((response) => response.json())
                            .then((datas) => {
                                if(datas.data === null){
                                    document.getElementById(`reviewCreate${idx}`).style.display = 'block';
                                }
                            })
                })
            });
    }

    const reviewCreate = (store_idx, trade_history_idx) => {
        console.log(trade_history_idx);
        window.location.href = `/user/review/form/${store_idx}/${trade_history_idx}`;

    }

</script>
</html>