<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/addr/user/a.css">
</head>
<body>
    {{>layout/main/main_header}}
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="찾는 맛집 이름이 뭐예요?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    {{>user/main_banner}}
    <hr>
    {{>user/main_category}}
    {{>user/alarm_visible}}
    {{>layout/main/main_footer}}
</body>
</html>