<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{>layout/main/main_header}}

    <h2 style="text-align: center">주문 현황</h2>
    <hr>
    <div id="order_state_list">

    </div>
<!--    {{#order_store}}-->
<!--    <div>-->
<!--        <div><label>가게 이름</label>:{{store_name}}</div>-->
<!--        <div><label>주문 일시</label>:{{order_date}}</div>-->
<!--        <div><label>주문 상태</label>:<label id="so_test">주문 대기중</label></div>-->
<!--    </div>-->
<!--    <hr>-->
<!--    {{/order_store}}-->
<!--    {{^order_store}}-->
<!--        현재 진행 중인 주문이 없습니다.-->
<!--    {{/order_store}}-->
{{>layout/main/main_footer}}
</body>
<script>
    let get_login = JSON.parse(sessionStorage.getItem("memberData"));
    let user_idx = get_login.memberData.userIdx;

    console.log(user_idx)

    fetch(`/user/order/state/${user_idx}`)
            .then((response) => response.json())
            .then((data) => {
                // console.log(data)
                // console.log(data.data)
                // console.log(data.data[0])
                // console.log(data.data.length)

                data.data.forEach( data => {
                    // console.log('order_state -> ' + data.order_state);
                    let order_date = new Date(data.order_date);
                    let order_state = '';
                    if(data.order_state == 0){
                        order_state = '접수 완료/접수 대기중';
                    }else if(data.order_state == 1){
                        order_state = '주문 수락/조리중';
                    }else if(data.order_state == 2){
                        order_state = '배달중';
                    }else if(data.order_state == 3){
                        order_state = '배달 완료';
                    }else if(data.order_state == 4){
                        order_state = '주무 거절';
                    }

                    let order_store_text = `<div>
                                            <div><label>가게 이름</label>:${data.store_name}</div>
                                            <div><label>주문 일시</label>:${order_date.toLocaleDateString()}</div>
                                            <div><label>주문 상태</label>:${order_state}</div>
                                        </div>
                                        <hr>`
                    let div_order_state = document.createElement('div');
                    div_order_state.innerHTML = order_store_text
                    let order_state_list = document.getElementById('order_state_list');
                    order_state_list.appendChild(div_order_state);
                } )
            });
</script>
</html>
