<div id="header_addr">
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fd415bfe990421083c1a4135da20924a&libraries=services"></script>
<script>
    var geocoder = new kakao.maps.services.Geocoder();

    $('#detailAddr').on('click', function () {
        var popup= window.open('/user/main/addr/main', 'AddrPopup', 'width=400px,height=550px');
        popup.addEventListener('beforeunload', function() {
            location.reload();
        });
    });

    var mem = window.sessionStorage.getItem("memberData");
    var latlng = 0;

    if (mem != null || mem != undefined) {
        mem = JSON.parse(mem);
        geocoder.addressSearch(mem.memberData.userBasicAddr, function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                let loginUserLatLng = {
                    user_lat: result[0].y,
                    user_lng: result[0].x
                }
                window.localStorage.setItem("user_latlng", JSON.stringify(loginUserLatLng));
                $(`#detailAddr`).text(mem.memberData.userBasicAddr);
            }
        });
    } else {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var lat = position.coords.latitude + "000001",
                        lon = position.coords.longitude + "000001";
                let user_lat_lng = {
                    user_lat: lat,
                    user_lng: lon
                }
                searchDetailAddrFromCoords(new kakao.maps.LatLng(lat, lon), function (result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        window.sessionStorage.setItem("result",JSON.stringify(result[0]));
                        var detailAddr = result[0].road_address ? result[0].road_address: result[0].address.address_name;
                            window.localStorage.setItem("user_latlng", JSON.stringify(user_lat_lng));
                            $(`#detailAddr`).text(detailAddr);
                    }
                });
            });
        }

        function searchDetailAddrFromCoords(coords, callback) {
            geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        }
    }
</script>
