<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: #2AC1BC;
            font-family: 'Do Hyeon', sans-serif;
        }

    </style>
<!--    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>-->
</head>
<body class="text-center container">
<!--<a id="kakao-login-btn"></a>-->
<main class="form-signin mt-5 row justify-content-center">
    <div class="col-6">
        <form>
            <h1 class="h3 mb-3 fw-normal" style="font-weight: 900; font-size: 2rem; color: #dbdbdb;">민족의배달</h1>
            <div class="mb-4">
                <img src="/staticImg/2So.png" style="width: 30%;">
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                <label for="floatingInput">이메일</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="pwd" placeholder="Password" required>
                <label for="floatingPassword">비밀번호</label>
            </div>

            <div class="checkbox mb-3 text-start">
                <label>
                    <input type="checkbox" value="remember-me"> 아이디 기억하기
                </label>
            </div>
            <button class="btn btn-primary" type="button" id="testlogin">로그인</button>
            <button class="btn btn-primary" type="button" id="join" onclick="javascript:location.href='/join/user'">회원가입</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022 minbae final project</p>
        </form>
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var main = {
        init: function () {
            var _this = this;
            $('#testlogin').on('click', function () {
                _this.save();
            });
        },
        save: function () {
            var data = {
                email: $('#email').val(),
                pwd: $('#pwd').val()
            };

            $.ajax({
                type: 'GET',
                url: '/login/user',
                data: data
            }).done(function (loginval) {
                // const data = loginval?.memberData?.memberData;
                // console.log(data)

                if (loginval?.status === "SUCCESS") {
                    if(JSON.stringify(loginval.memberData) == '{}') {
                        alert('아이디나 비밀번호를 확인해 주세요.')
                    }else {
                        window.sessionStorage.setItem("token", loginval.data);
                        window.sessionStorage.setItem("memberData", JSON.stringify(loginval.memberData));
                        location.href = '/user/main';
                    }
                }
            })
            .fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    };
    main.init();
</script>
<!--<script>-->
<!--    Kakao.init('fd415bfe990421083c1a4135da20924a');-->
<!--    console.log(Kakao.isInitialized());-->

<!--    Kakao.Auth.createLoginButton({-->
<!--        container: '#kakao-login-btn',-->
<!--        success: function(authObj) {-->
<!--            Kakao.API.request({-->
<!--                url: '/v2/user/me',-->
<!--                success: function(result) {-->
<!--                    const kakaoId = result?.id;-->
<!--                    const kakaoNickName = result?.properties?.nickname;-->

<!--                    const data = {-->
<!--                        'id' : kakaoId,-->
<!--                        'nickName' : kakaoNickName,-->
<!--                        'type' : 'kakao',-->
<!--                    }-->

<!--                    fetch('http://localhost:9090/user/login', {-->
<!--                        method: "POST",-->
<!--                        body: JSON.stringify(data),-->
<!--                        headers: {-->
<!--                            "Content-Type" : "application/json"-->
<!--                        }-->
<!--                    }).then(response => response.json())-->
<!--                            .then(data => {-->
<!--                                // let userIdx = data.data.memberData.user_idx;-->
<!--                                // let userNickname = data.data.memberData.user_nickname;-->
<!--                                let memberData = {-->
<!--                                    'memberData' : data.data.memberData-->
<!--                                }-->
<!--                                window.sessionStorage.setItem("token", data.data.accessToken);-->
<!--                                window.sessionStorage.setItem("memberData", JSON.stringify(memberData));-->
<!--                                location.href = '/';-->
<!--                            });-->
<!--                },-->
<!--                fail: function(error) {-->
<!--                    alert(-->
<!--                            'login success, but failed to request user information: ' +-->
<!--                            JSON.stringify(error)-->
<!--                    )-->
<!--                },-->
<!--            })-->
<!--        },-->
<!--        fail: function(err) {-->
<!--            alert('failed to login: ' + JSON.stringify(err))-->
<!--        },-->
<!--    })-->
<!--</script>-->
</html>