<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{{>layout/main/main_header}}
<body>
    <div>사용자 주소(수정 불가)</div>
    <div>상세 주소(수정 가능)</div>
    <div>결제 수단</div>
    <div>쿠폰</div>
    <div>주문 금액</div>
    <div>배달팁</div>
    <div>총결제금액</div>
    <div>
        <button type="button">결제하기</button>
    </div>
{{>layout/main/main_footer}}
</body>
</html>