{{>store/common/store_header}}


{{#storeList}}
<ul>
    <li>{{storeName}}</li>
    <li>{{storeTel}}</li>
    <li>{{storeCategory}}</li>
    <li>{{storeBasicAddr}}</li>
    <li>{{storeDetailAddr}}</li>
</ul>


{{/storeList}}

{{>store/common/store_footer}}