{{>store/common/store_header}}

<div>
    {{#storeInfo}}
        {{storeName}}
    {{/storeInfo}}
    {{#StoreDetailInfo}}
        {{storeDetailMinimumPrice}}
    {{/StoreDetailInfo}}

</div>

{{>store/common/store_footer}}