<!-- Modal -->
<div class="modal fade" id="menu-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">메뉴수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--menu update form-->
                <form id="modalMenuUpdateForm" enctype="multipart/form-data" method="post">
                    <!-- menu name -->
                    <div class="mb-3">
                        <label class="form-label">메뉴명</label>
                        <input type="text" class="form-control form-control-sm" id="edit-menu-name">
                    </div>
                    <!-- menu price -->
                    <div class="mb-3">
                        <label class="form-label">메뉴 가격</label>
                        <input type="text" class="form-control form-control-sm" rows="3" id="edit-menu-price"></input>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">대표|일반</label>
                        <input class="form-check-input" type="radio" name="modalFlexRadioDefault" id="modalFlexRadioDefault1" value="1">
                        <label class="form-check-label" for="flexRadioDefault1">대표메뉴</label>
                        <input class="form-check-input" type="radio" name="modalFlexRadioDefault" id="modalFlexRadioDefault2" value="0">
                        <label class="form-check-label" for="flexRadioDefault1">일반메뉴</label>
                    </div>
                    <!-- 메뉴이미지 -->
                    <div class="mb-3">
                        <label class="form-label">메뉴 이미지</label>
                        <input type="file" class="form-control form-control-sm" rows="3" id="edit-menu-image" name="file"></input>
                        <div id="menu-image-list">

                        </div>
                        <div class="selected_img"><label></label><img src="" /></div>
                        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                        <!--show live updated image JS-->
                        <script>
                            $("#edit-menu-image").change(function(){
                                if(this.files && this.files[0]) {
                                    var reader = new FileReader;
                                    reader.onload = function(data) {
                                        $(".selected_img label").text("변경할 이미지 미리보기 :");
                                        $(".selected_img img").attr("src", data.target.result).width(300);
                                    }
                                    reader.readAsDataURL(this.files[0]);
                                }
                            });
                        </script>
                    </div>
                    <!-- 히든값 -->
                    <input type="text" id="edit-menu-idx" value="">
                    <input type="text" id="edit-store-idx" value="" readonly>
                    <!-- 전송버튼 -->
                    <button type="button" class="btn btn-outline-primary btn-sm" id="menu-update-btn">수정 완료</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--modal event show modal & get data -->
<script>
    {
        // 모달 요소 선택
        const commentEditModal = document.querySelector("#menu-edit-modal");
        commentEditModal.addEventListener("show.bs.modal", function (event){
            // Button that triggered the modal 트리거 버튼 선택
            const triggerBtn = event.relatedTarget;
            // Extract info from data-bs-* attributes 데이터 가져오기
            const idx = triggerBtn.getAttribute('data-bs-menuidx');
            const name = triggerBtn.getAttribute('data-bs-menuname');
            const price = triggerBtn.getAttribute('data-bs-menuprice');
            const img = triggerBtn.getAttribute('data-bs-menuimg');
            const kingmenu = triggerBtn.getAttribute('data-bs-menukingmenu');
            const storeidx = triggerBtn.getAttribute('data-bs-storeidx');
            console.log("대표|일반>>>>>>>>"+kingmenu);
            // 데이터 반영
            document.querySelector("#edit-menu-idx").value = idx; // hidden
            document.querySelector("#edit-menu-name").value = name;
            document.querySelector("#edit-menu-price").value = price;
            if(kingmenu==1){
                document.querySelector('#modalFlexRadioDefault1').setAttribute('checked', "true");
            }else if(kingmenu == "0"){
                document.querySelector('#modalFlexRadioDefault2').setAttribute('checked', "true");
            };
            //document.querySelector("#edit-menu-kingmenu").value = kingmenu;
            document.querySelector('#edit-store-idx').value = storeidx;

        });
    }
</script>

<!-- show image file list & delete button -->
<script>
    // 모달 요소 선택
    const commentEditModal = document.querySelector("#menu-edit-modal");
    commentEditModal.addEventListener("show.bs.modal", function (event){
        const triggerBtn = event.relatedTarget;
        const existImg = triggerBtn.getAttribute('data-bs-menuimg');

        // 첨부파일 목록 초기화
        let divArea = document.getElementById('menu-image-list'); // 부모 div
        while ( divArea.hasChildNodes() )
        {
            divArea.removeChild( divArea.firstChild ); // 자식 div 삭제
        }

        // 이미지 미리보기 및 텍스트 초기화
        const divImageArea = document.querySelector(".selected_img");
        $(".selected_img img").removeAttr("src").width(0);
        $(".selected_img label").empty();

        // reset inputted files - when modal open 첨부된 파일 초기화
        if (/(MSIE|Trident)/.test(navigator.userAgent)) {
            // ie 일때 input[type=file] init.
            $("#edit-menu-image").replaceWith( $("#edit-menu-image").clone(true) );
        } else {
            // other browser 일때 input[type=file] init.
            $("#edit-menu-image").val("");
        }

        if(existImg){ // if image exist in DB, create list 이미지가 존재한다면, 목록 생성

            let new_labelTag = document.createElement('label');
            new_labelTag.setAttribute('class', 'pTag');
            new_labelTag.innerHTML = "등록 되어있는 파일 명 : "+existImg;
            divArea.appendChild(new_labelTag);

            let new_buttonTag = document.createElement('button');
            new_buttonTag.setAttribute('class', 'btn btn-secondary btn-sm');
            new_buttonTag.setAttribute('id', 'deleteThisImgBtn')
            new_buttonTag.innerText = "삭제버튼";
            divArea.appendChild(new_buttonTag);

            // delete request - only current image
            const bts = document.querySelector("#deleteThisImgBtn")
            bts.addEventListener("click", () => {
                if(confirm('이미지를 정말 삭제 하시겠습니까?') == false){
                    return;
                }
                // api delete 요청 보내기
                let data = {
                    "menuIdx" : document.querySelector("#edit-menu-idx").value,
                    "menuImg" : triggerBtn.getAttribute('data-bs-menuimg')
                };
                console.log(data);
                console.log(JSON.stringify(data));
                const url = "/update/menuImage";
                fetch(url, {
                    method: "PATCH",
                    body: JSON.stringify(data),
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(response => {
                    if (!response.ok) {
                        alert("이미지 삭제 실패..!");
                        return;
                    }
                    alert('이미지 삭제 성공');
                    const addUrl = document.querySelector('#edit-store-idx').value;
                    location.href=`/owner/menu/${addUrl}`;
                });
            });

        };

        // update menu
        const updateMenuBtn = document.querySelector("#menu-update-btn");
        updateMenuBtn.addEventListener('click', () => {
            if(confirm('메뉴를 수정하시겠습니까?')==false){
                return;
            };
            let updateData = {
                menuIdx: $('#edit-menu-idx').val(),
                menuName: $('#edit-menu-name').val(),
                menuPrice: $('#edit-menu-price').val(),
                menuKingMenu: $('input:radio[name=modalFlexRadioDefault]:checked').val(),
                storeIdx:{
                    storeIdx: $('#edit-store-idx').val()
                }
            };
            let updateForm1 = $('#modalMenuUpdateForm')[0];
            let formData1 = new FormData(updateForm1);
            formData1.append('file', $('#edit-menu-image'));
            formData1.append('key', new Blob([JSON.stringify(updateData)], {type: "application/json"}));

            // 파일이 잘 담겼는지 찍어봤다... 잘 담겼다..
            console.log($("#edit-menu-image")[0].files);

            //const url = "/update/menuInfo";
            $.ajax({
                type: 'PATCH',
                url: '/update/menuInfo',
                data: formData1,
                processData: false,
                contentType: false

            }).done(function () {
                alert("메뉴 수정 성공");
                location.href="/owner/menu/"+updateData.storeIdx.storeIdx;
            }).fail(function (error) {
                alert(JSON.stringify(error));
                alert("메뉴 수정 실패");
                return;
            });
        });

    });
</script>


