{{>store/common/store_header}}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div>
        <h1>가게 명 : {{storeEntity.storeName}}</h1>
        <h2 class="h2">우리 가게 메뉴 리스트</h2>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <button>가게 목록 보기</button>
        <button>신규메뉴 등록</button>
            <table class="table caption-top table-hover">
                <caption>List of menu</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">메뉴명</th>
                    <th scope="col">가격</th>
                    <th scope="col">메뉴이미지</th>
                    <th scope="col">관리</th>
                </tr>
                </thead>
                <tbody>
                    {{#menuList}}
                    <tr>
                        <th scope="row">{{menuIdx}}</th>
                        <td>{{menuName}}</td>
                        <td>{{menuPrice}}</td>
                        <td>{{menuImg}}</td>
                        <td>
                            <button class="btn btn-outline-primary" id="menuUpdate">메뉴정보수정</button>
                            <button class="btn btn-outline-danger" id="menuDelete">메뉴삭제</button>
                        </td>
                    </tr>
                    {{/menuList}}
                </tbody>
            </table>
    </div>
</main>
{{>store/common/store_footer}}

<!-- menu update-->
<script>
</script>

<!-- menu delete-->
<script>
</script>