{{>store/common/store_header}}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div>
        <h1>가게 명 : {{storeEntity.storeName}}</h1>
        <h2 class="h2">우리 가게 메뉴 리스트</h2>
    </div>
    <div>
        <button>가게 목록 보기</button>
        <button>신규메뉴 등록</button>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            <table class="table caption-top table-hover">
                <caption>List of menu</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">메뉴명</th>
                    <th scope="col">가격</th>
                    <th scope="col">메뉴이미지</th>
                    <th scope="col">대표|일반</th>
                    <th scope="col">관리</th>
                </tr>
                </thead>
                <tbody>
                    {{#menuList}}
                    <tr id="menu-{{menuIdx}}">
                        <th scope="row">{{menuIdx}}</th>
                        <td>{{menuName}}</td>
                        <td>{{menuPrice}}</td>
                        {{#menuImg}}
                            <td><img src="/image/{{menuImg}}"></td>
                        {{/menuImg}}
                        {{^menuImg}}
                            <td>이미지 없음</td>
                        {{/menuImg}}

                        <td class="kingMenuValue">{{menuKingMenu}}</td>
                        <td>
                            <!-- 모달트리거 -->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-outline-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#menu-edit-modal"
                                    data-bs-menuidx="{{menuIdx}}"
                                    data-bs-menuname="{{menuName}}"
                                    data-bs-menuprice="{{menuPrice}}"
                                    data-bs-menuimg="{{#menuImg}}{{menuImg}}{{/menuImg}}{{^menuImg}}{{/menuImg}}"
                                    data-bs-menukingmenu="{{menuKingMenu}}"
                                    data-bs-storeidx="{{storeEntity.storeIdx}}">메뉴정보수정-모달</button>
                            <button class="btn btn-outline-danger" id="menuDelete" data-menu-idx="{{menuIdx}}">메뉴삭제</button>
                        </td>
                    </tr>
                    {{/menuList}}
                </tbody>
            </table>
    </div>
</main>
{{>menu/menu_update_modal}}
{{>store/common/store_footer}}

<!-- menu kingmenu value change : number to string -->
<script>
    window.onload = ()  => {
        const kingValues = document.querySelectorAll(".kingMenuValue");
        for(const kv of kingValues){
            if(kv.innerHTML == 1){
                kv.innerHTML = "대표메뉴";
            }else{
                kv.innerHTML = "일반메뉴";
            }
        };
    };
</script>

<!-- delete menu-->
<script>
    const btns = document.querySelectorAll('#menuDelete');
    btns.forEach( btn => {
        btn.addEventListener("click", (event) => {
            const menuDeleteBtn = event.target;
            const menuIdx = menuDeleteBtn.getAttribute("data-menu-idx");
            // 삭제 API 호출 및 처리
            const url = `/owne/delete/menu/${menuIdx}`;
            fetch(url, {
                method: "DELETE"
            }).then(response => {
                if (!response.ok) {
                    alert("메뉴 삭제 실패..!");
                    return;
                }
                const target = document.querySelector(`#menu-${menuIdx}`);
                target.remove();
            });
        });
    });
</script>