<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/kit_code.js" crossorigin="anonymous">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>Nav Bar</title>
    <style>
        .youtube {
            position: relative;
            height: 700px;
            background-color: #333;
            overflow: hidden;
        }

        .youtube .youtube__area {
            width: 1920px;
            background: orange;
            position: absolute;
            left: 50%;
            margin-left: calc(1920px / -2);
            top: 50%;
            margin-top: calc(1920px * 9 / 16 / -2);
        }

        .youtube .youtube__area::before {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            padding-top: 56.25%;
        }

        .youtube .youtube__cover {
            background-image: url('../images/video_cover_pattern.png');
            background-color: rgba(0, 0, 0, .3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #player {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .youtube .inner {
            height: 700px;
        }

        nav a {
            font-family: 'Do Hyeon', sans-serif;
            font-size: 1.5rem;
        }
        :root {
            --text-color: #black;
            --background-color: #2AC1BC;
            --accent-color: white;
            --icons-color: rgb(200, 187, 201);
            /* --bodybackground-color: lightgray; */
        }

        body {
            margin: 0;
            background-color: var(--bodybackground-color);
            font-family: 'STIX Two Math';
        }

        a {
            text-decoration: none;
            color: var(--text-color);
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--background-color);
            padding: 10px 12px;
            font-family: 'STIX Two Math';
        }

        .navbar__logo i {
            color: var(--accent-color);
            padding-left: 0;
        }

        .navbar__menu {
            list-style: none;
            display: flex;
            margin: 0;
            padding-left: 0;
        }

        .navbar__menu li {
            padding: 8px 30px;
        }

        .navbar__icons {
            list-style: none;
            display: flex;
            color: var(--icons-color);
            margin: 0;
            padding-left: 0;
        }

        .navbar__icons li {
            padding: 8px 12px;
            margin: 0;
        }
        .navbar__menu li:hover {
            background-color: var(--accent-color);
            border-radius: 3px;
        }

    </style>

    <script>
        const list = document.querySelector('.slide__list');
        const items = document.querySelectorAll('.slide__item');
        const buttons = document.querySelector('.buttons');
        const paginations = document.querySelector('.paginations');
        const lastIndex = items.length - 1;

        let selected = 0; let interval;
        const setTranslate = ({ index, reset }) => { if (reset) list.style.transform = `translate(-${list.clientWidth}px, 0)`;
        else list.style.transform = `translate(-${(index + 1) * list.clientWidth}px, 0)`; };
        const activePagination = (index) => { [...paginations.children].forEach((pagination) => { pagination.classList.remove('on'); });
            paginations.children[index].classList.add('on');
        };
        const handlePrev = () => { selected -= 1;
            setTransition('transform 0.3s linear');
            setTranslate({ index: selected });
            if (selected < 0) { selected = lastIndex;
                setTimeout(() => { setTransition('');
                    setTranslate({ index: selected });
                }, 300);

            } if (selected >= 0) activePagination(selected);
        };

        const handleNext = () => { console.log(selected);
            selected += 1;
            setTransition('transform 0.3s linear');
            setTranslate({ index: selected });
            if (selected > lastIndex) { selected = 0;
                setTimeout(() => { setTransition('');
                    setTranslate({ index: selected });
                }, 300);
            } if (selected <= lastIndex) activePagination(selected);
        };

        const makeButton = () => { if (items.length > 1) { const prevButton = document.createElement('button');
            prevButton.classList.add('buttons__prev');
            prevButton.innerHTML = '<i class="fas fa-arrow-left"></i>';
            prevButton.addEventListener('click', handlePrev);
            const nextButton = document.createElement('button');
            nextButton.classList.add('buttons__next');
            nextButton.innerHTML = '<i class="fas fa-arrow-right"></i>';
            nextButton.addEventListener('click', handleNext);
            buttons.appendChild(prevButton);
            buttons.appendChild(nextButton); } };
        const handlePagination = (e) => { if (e.target.dataset.num) { selected = parseInt(e.target.dataset.num);

            setTransition('all 0.3s linear');
            setTranslate({ index: selected });
            activePagination(selected); } };

        const makePagination = () => { if (items.length > 1)
        { for (let i = 0; i < items.length; i++) { const button = document.createElement('button');
            button.dataset.num = i;
            button.classList.add('pagination');
            if (i === 0) { button.classList.add('on');
            } paginations.appendChild(button);
            paginations.addEventListener('click', handlePagination); } } };

        const cloneElement = () => { list.prepend(items[lastIndex].cloneNode(true));
            list.append(items[0].cloneNode(true));
            setTranslate({ reset: true });
        };

        const autoplayIterator = () => { selected += 1;
            setTransition('all 0.3s linear');
            setTranslate({ index: selected });

            if (selected > lastIndex) { activePagination(0);
                clearInterval(interval);
                setTimeout(() => { selected = 0;
                    setTransition('');
                    setTranslate({ reset: true });
                    autoplay({ duration: 2000 });
                }, 300); } if (selected <= lastIndex) activePagination(selected); };

        const autoplay = ({ duration }) => { interval = setInterval(autoplayIterator, duration); };

        // Youtube IFrame API를 비동기로 로드
        const tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        const firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubePlayerAPIReady() {
            // <div id="player"></div>
            new YT.Player('player', {
                videoId: '36JvP5pw3po', // 재생할 유튜브 영상 ID
                playerVars: {
                    autoplay: true, // 자동 재생 유무
                    loop: true, // 반복 재생 유무
                    playlist: '36JvP5pw3po' // 반복 재생할 유튜브 영상 ID 목록
                },
                events: {
                    // 영상이 준비되었을 때,
                    onReady: function (event) {
                        event.target.mute(); // 음소거
                    }
                }
            });
        }
    </script>
    <script>
        function test(imageName) {
            LoadingWithMask('your site\'s image path');
            setTimeout("closeLoadingWithMask()", 3000);
        }

        function LoadingWithMask(gif) {
            //화면의 높이와 너비
            var maskHeight = $(document).height();
            var maskWidth  = window.document.body.clientWidth;

            //화면에 출력할 마스크 설정
            var mask       ="<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
            var lo ='';

            lo +=" <img src='"+ gif +"' style='position: absolute; display: block; margin: 0px auto;'/>";

            //화면에 레이어 추가
            $('body')
                    .append(mask)

            //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채움
            $('#mask').css({
                'width' : maskWidth,
                'height': maskHeight,
                'opacity' :'0.3'
            });

            //마스크 표시
            $('#mask').show();

            //로딩중 이미지 표시
            $('#lo').append(lo);
            $('#lo').show();
        }

        function closeLoadingWithMask() {
            $('#mask, #lo').hide();
            $('#mask, #lo').empty();
        }
    </script>

</head>

<body>

<nav class="navbar">

    <div class="navbar__logo">
        <i class="fas fa-blog"></i>
        <a href="">민족의 배달<img src="https://i.esdrop.com/d/f/3IfGDhTdT6/g1NS4UBW3n.jpg" width="100px" height="50px"></a>
    </div>

    <ul class="navbar__menu">
        <li><a href="/user/main">주문 go!</a></li>
        <li><a href="/owner/store/main">사장님 go!</a></li>
        <li><a href="/loginform/deliver">민배커넥트 go!</a></li>
        <li><a href="https://www.facebook.com/smartbaedal"><img src="https://i.esdrop.com/d/f/3IfGDhTdT6/GM2og1rjfw.jpg" width="30px" height="30px"></a></li>
        <li><a href="https://blog.naver.com/smartbaedal"><img src="https://i.esdrop.com/d/f/3IfGDhTdT6/soT5ncw8n7.jpg" width="30px" height="30px"></a></li>
        <li><a href="https://www.youtube.com/user/smartbaedal2"><img src="https://i.esdrop.com/d/f/3IfGDhTdT6/e7jkLrbaLX.jpg" width="30px" height="30px"></a></li>
        <li><a href="https://www.instagram.com/baemin_official/"><img src="https://i.esdrop.com/d/f/3IfGDhTdT6/MlbCTn7yTM.jpg" width="30px" height="30px"></a></li>
    </ul>

    <ul class="navbar__icons">
        <li><i class="fab fa-google"></i></li>
        <li><i class="fab fa-slack"></i></li>
    </ul>

</nav>

<section class="youtube">
    <div class="youtube__area">
        <div id="player"></div>
    </div>
    <div class="youtube__cover"></div>
    <div class="inner">
    </div>
</section>
</body>

</html>