<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<input type="button" value="테스트로그인" id="testlogin">
<input type="text" id="email">
<input type="text" id="pwd">
<input type="button" value="로그인 체크" id="logincheck">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var main = {
        init: function () {
            var _this = this;
            $('#logincheck').on('click',function (){
                _this.logincheck();
            }),
            $('#testlogin').on('click', function () {
                _this.save();
            });
        },
        logincheck : function(){

            $.ajax({
                type:"GET",
                url:"/test/check/User",
                headers : {'user-token':window.sessionStorage.getItem("token")}
            }).done(function(data){
                window.alert(data);
            });

        }
        ,
        save: function () {

            var data = {
                email: $('#email').val(),
                pwd: $('#pwd').val()
            };
            var test=SetsetS;

            $.ajax({
                type: 'GET',
                url: '/user/login',
                data: data
            }).done(function (loginval) {
                alert('로그인 완료');
                if(loginval.status.valueOf()=="SUCCESS"){
                    window.sessionStorage.setItem("token",loginval.data);
                }
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    };
    main.init();
</script>

</body>
</html>