<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <a href="/"><-</a>
    {{categoryKo}}
</div>

<div>
    <span class="categoryLink" id="JAPANESEFOOD" value="JAPANESEFOOD">돈가스|회|일식</span>
    <span class="categoryLink" id="CHICKEN" value="CHICKEN">치킨</span>
    <span class="categoryLink" id="CHINESEFOOD" value="CHINESEFOOD">중국집</span>
    <span class="categoryLink" id="BUNSIK" value="BUNSIK">분식</span>
    <span class="categoryLink" id="PIZZA" value="PIZZA">피자</span>
    <span class="categoryLink" id="DESSERT" value="DESSERT">카페|디저트</span>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        var page =0;
        var category ='CHICKEN';
        $('.categoryLink').on('click',function(){
            category=this.id;
            page=0;
            $('#storeListDiv').empty();
            requestStandardStoreList();
        })

    </script>

</div>
<hr>
<div>
    <a href="/user/store/{{categoryKo}}/{{categoryEn}}/order">주문많은순</a>
    <a href="#">기본순</a>
    <a href="/user/store/{{categoryKo}}/{{categoryEn}}/star">별점많은순</a>
</div>
</body>
</html>