<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
/*
https://code.google.com/archive/p/crypto-js/
https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/crypto-js/CryptoJS%20v3.1.2.zip
*/

/*
CryptoJS v3.1.2
code.google.com/p/crypto-js
(c) 2009-2013 by Jeff Mott. All rights reserved.
code.google.com/p/crypto-js/wiki/License
*/
<script type="text/javascript" src="/CryptoJS/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="/CryptoJS/components/enc-base64.js"></script>
<input type="text" id="tel"> <input type="button" value="인증번호 요청" id="autheButton" onclick="asdfg()">
<script>

function test(){
    var method = "POST";
    var space = " ";
    var newLine = "\n";
    var serviceId = "ncp:sms:kr:285641559784:minbae";
    var secretKey = "pHLP5DzZmYBvyNhIsyT32oBq3DnJ52AUIMQG8mQl";
    var accessKey = "w1zybKw9xu0XHZYeMinK";
    var url = `https://sens.apigw.ntruss.com/sms/v2/services/${serviceId}/messages`;
    var timestamp = Date.now().toString();
    var uri = `/sms/v2/services/${serviceId}/messages`;
    var hmac = CryptoJS.algo.HMAC.create(CryptoJS.algo.SHA256, secretKey);
    hmac.update(method);
    hmac.update(space);
    hmac.update(uri);
    hmac.update(newLine);
    hmac.update(timestamp);
    hmac.update(newLine);
    hmac.update(accessKey);
    var hash = hmac.finalize();
    var signature = hash.toString(CryptoJS.enc.Base64);
    alert(timestamp);
    alert(signature);

    const verifyCode = Math.floor(Math.random() * (999999 - 100000)) + 100000;
    fetch(url, {
        method: "POST",
        mode: "no-cors",
        headers: {
            'Content-Type': 'application/json; charset=utf-8',
            'x-ncp-apigw-timestamp': timestamp,
            'x-ncp-iam-access-key': accessKey,
            'x-ncp-apigw-signature-v2': signature
        },
        body: JSON.stringify({
            type: 'SMS',
            from: '01035584131',
            content: `[인영테스트중] 인증번호 [${verifyCode}]를 입력해주세요.`,
            messages: [
                {
                    to: `01035584131`
                }
            ]
        })
    }).then(response => response.json())
            .then(data => alert(data))
            .catch((error) => {
                console.error('실패:', error);
            });
}
test();
</script>

</body>
</html>