<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            width: 45em;
            margin: 0 auto;
        }

        #header_div {
            margin-top: 25px;
            margin-bottom: 40px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 27px;
        }

        .text_input {
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .text_input:focus {
            outline: none;
        }

        .text_input {
            width: 720px;
            font-size: 22px;
            margin-bottom: 30px;
        }

        .text_div {
            font-size: 22px;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #auth_button {
            width: 720px;
            height: 100px;
            font-size: 22px;
            background-color: white;
            border: 1px solid gray;
            color: gray;
            margin-bottom: 30px;
        }
    </style>

</head>
<body>
<div id="header_div">
    <a href="/join/user"><img src="https://i.esdrop.com/d/f/3IfGDhTdT6/EWLLTqZXpj.png" id="back"></a> 회원가입
    <div id="next_div">다음</div>
</div>
<div>
    <div class="text_div">휴대전화</div>
    <div><input type="text" class="text_input" id="text_input_tel" placeholder="010-0000-0000" maxlength="13"></div>
</div>

<div>
    <input type="button" value="인증번호 받기" id="auth_button" disabled>
</div>
<div id="auth_div">
    <div>
        <div class="text_div">인증번호</div>
        <div><input type="text" class="text_input" id="auth_text"></div>
        <div id="auth_result_text" maxlength="5"><span id="timer"></span></div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var auth = false;
    var time = new Date();

    let authNum;
    $('#auth_text').on('keyup', function (event) {
        if (document.getElementById('auth_text').value == authNum) {
            document.getElementById('auth_result_text').innerText = "인증이 완료되었습니다";
            document.getElementById('auth_result_text').style.color = 'blue';
            auth = true;
        } else {
            document.getElementById('auth_result_text').innerText = "인증번호가 일치하지 않습니다.";
            document.getElementById('auth_result_text').style.color = 'red';
            auth = false;
        }
    });

    $('#next_div').on('click', function () {
        if (auth == true) {
            location.href = "/join/user/email?tel=" + $('#text_input_tel').val().replaceAll('-', '')
        } else {
            alert('인증이 완료되지 않았습니다');
        }
    });

    $('#auth_div').hide();
    document.getElementById('text_input_tel').addEventListener('keydown', function (event) {
        if (event.keyCode == 8) {
            document.getElementById('text_input_tel').value = "";
        }
        if (document.getElementById('text_input_tel').value.length == 3 || document.getElementById('text_input_tel').value.length == 8) {
            document.getElementById('text_input_tel').value += "-";
        }
        ;
        if (document.getElementById('text_input_tel').value.length == 12) {
            changeStatus();
        }
    })

    function changeStatus() {
        if (document.getElementById('text_input_tel').value.startsWith("010")) {
            document.getElementById('auth_button').style.color = 'black';
            $("#auth_button").attr("disabled", false);
        }
    };
    $('#auth_button').on('click', function () {
        phoneNumberCheck();
        countdown();
    });

    function phoneNumberCheck() {
        fetch("/join/user/sms" ,{
            method:'post',
            headers:{"Content-Type":"application/json; charset:UTF-8"},
            body:JSON.stringify({"tel":document.getElementById('text_input_tel').value.replaceAll("-", "")})
        }).then(response=>response.json())
                .then(data => {
                    console.log(data);
                    if (data.status != "FAIL") {
                        $('#auth_button').hide();
                        $('#auth_div').show();
                        authNum = data.data;
                    } else {
                        alert("10분에 3회 이용 가능합니다.");
                    }
                });

    }

    function countdown() {
        var minute = 4;
        var sec = 59;
        setInterval(function () {
            if (sec == 0 && minute == 0 && auth == false) {
                alert('인증이 만료되었습니다');
                window.location.reload();
            }
            document.getElementById("timer").innerHTML =
                    minute + " : " + sec;
            sec--;
            if (sec < 0) {
                minute--;
                sec = 59;
                if (minute == 0) {
                    minute = 5;
                }
            }
        }, 1000);
    };
</script>
</body>
</html>

