<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minbae.menu.dao.MenuMapper">

    <update id="deleteMenuImageOnly">
        UPDATE
            menu
        SET
            menu_img = null
        WHERE
            menu_idx = #{menuIdx} AND
            menu_img = #{menuImg};
    </update>

    <select id="findHighestSunbunByStoreIDx" resultType="integer">
        select
               max(menu_sunbun)
        from menu
        where store_idx = #{storeIdx};
    </select>

    <select id="findAllByStoreIdxOrderSunbun" resultType="com.minbae.menu.entity.Menu">
        select
               *
        from menu
        where store_idx = #{storeIdx}
        order by menu_sunbun asc;
    </select>

    <update id="updateSunbun">
        update
            menu
        set menu_sunbun = #{sunbun}
        where menu_idx = #{menuIdx};
    </update>

</mapper>