<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minbae.review.dao.ReviewMapper">

    <select id="findReviewListByStoreIdx" resultType="hashmap">
        select
            r.*, u.user_nickname
        from review r
                 left join user u on u.user_idx = r.user_idx
        where r.store_idx = #{storeIdx};
    </select>

    <select id="findByReviewIdx" resultType="com.minbae.review.dto.StoreReviewDto">
        select
            *
        from review
        where review_idx = #{reviewIdx}
    </select>

    <update id="updateStoreReview">
        update
            review
        set review_reply = #{reviewReply}
        where review_idx = #{reviewIdx}
    </update>

    <update id="deleteReplyByReviewIdx">
        update
            review
        set review_reply = null
        where review_idx = #{reviewIdx}
    </update>

    <select id="countAllReviewByStoreIdx" resultType="integer">
        select
            count(review_idx)
        from
            review
        where
            store_idx =#{storeIdx}
    </select>

    <select id="getReviewCountAndStarAvg" resultType="com.minbae.review.dto.ReviewCountAndAvgStar">
        select store_idx
             ,COUNT(store_idx) cou
        ,avg(review_star) avger_star
        from review
        where store_idx=${storeIdx}
        group by store_idx

    </select>

    <select id="countNotReplyReviewByStoreIdx" resultType="integer">
        select
            count(review_idx)
        from
            review
        where
            store_idx = #{storeIdx} and review_reply is null
    </select>

    <update id="updateStoreReply" >
        update
            review
        set review_reply = #{review_reply}
        where review_idx = #{review_idx}
    </update>


</mapper>
